<div class="container">
    <div class="row g-3">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"></div>
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"><label for="" class="form-label">Faculty Name</label><input type="text" class="form-control"></div>
        
        <div class="row g-3">
            <div class="col col-12 col-sm-12 col- col-md-12 col-lg-12 col-xl-12 col-xxl-12"><label for="" class="form-label">Department Name</label>
                <select name="" id="" class="form-control">
                <option value="BCA">BCA</option>
                <option value="BBA">BBA</option>
                <option value="PCA">PCA</option>
                <option value="ENG">ENG</option>
                <option value="BJMC">BJMC</option>
                <option value="BCOM">BCOM</option>
                <option value="MCOM">MCOM</option>
                <option value="MSC">MSC</option>
                <option value="MA">MA</option>
            </select></div>
            <div class="col col-12 col-sm-12 col- col-md-12 col-lg-12 col-xl-12 col-xxl-12"><button class="btn btn-primary">Add</button></div>
        </div>
    </div>
</div>

