<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"></div>
        <div class="row g-3">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"><label for="" class="form-label">Student Name</label><input type="text" class="form-control"></div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"><label class="form-label">Department</label><select name="" id="" class="form-control">
                <option value="BCA">BCA</option>
                <option value="BBA">BBA</option>
                <option value="BA">BA</option>
                <option value="BCOM">BCOM</option>
                <option value="BJMC">BJMC</option>
                <option value="PCA">PCA</option>
                <option value="MCOM"MCOM></option>
                <option value="MSC">MSC</option>
                <option value="MA">MA</option>
            </select></div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"><label for="" class="form-label">Year</label><input type="date" name="" id="" class="form-control"></div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"><label for="" class="form-label">Semester</label><select name="" id="" class="form-control">
                <option value="SEM1">SEM1</option>
                <option value="SEM2">SEM2</option>
                <option value="SEM3">SEM3</option>
                <option value="SEM4">SEM4</option>
                <option value="SEM5">SEM5</option>
                <option value="SEM6">SEM6</option>
            </select></div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"><label for="" class="form-label">Roll No</label><input type="text" class="form-control"></div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"><label for="" class="form-label">Phone No</label><input type="text" class="form-control">

            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"><button class="btn btn-info">ADD</button></div>
        </div>
    </div>
</div>
